@import "./index.scss";

.classes-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/pricing.jpg");
    background-size: cover;
    background-position: center;

    .tagline{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        font-size: 3rem;
        font-weight: 700;
        color: $blue;

        span{
            color: $gold;
        }
    }
}

@media screen and (max-width: 480px) {
    .classes-hero{
        .tagline{
            font-size: 1.8rem;
        }
    }
}