@import "./index.scss";

.classes{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &-header{
        font-size: 2rem;
        font-weight: bold;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            width: 2rem;
            right: 0;
            bottom: 0;
            height: .3rem;
            border-radius: 5rem;
            background-color: $gold;
        }
    }

    &-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        width: 80vw;

        .class{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            box-shadow: 0 0 20px rgb(0,0,0,.5);
            z-index: 1;

            &:hover{
                .class-info{
                    &::before{
                        bottom: 0;
                    }
                }
            }

            img{
                width: 100%;
            }

            .class-info{
                position: absolute;
                bottom: 0;
                padding: 1.5rem;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;

                &::before{
                    content: "";
                    position: absolute;
                    bottom: -100%;
                    left: 0;
                    right: 0;
                    height: 100%;
                    background-color: rgb(0,0,0,.5);
                    backdrop-filter: blur(5px);
                    transition: all .2s;
                }

                .title{
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: $gold;
                    z-index: 2;
                }

                .teacher{
                    display: flex;
                    align-items: center;
                    color: $white;
                    font-weight: bold;
                    z-index: 2;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .classes{
        &-content{
            width: 100%;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;

            .class{
                .class-info{
                    &::before{
                        bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .classes{
        &-content{
            width: 90vw;
            gap: 1rem;

            .class{
                .class-info{

                    &::before{
                        bottom: 0;
                    }

                    .title{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}