@import "./index.scss";

.faqs{
    width: 80vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &-header{
        font-size: 2rem;
        font-weight: bold;
        position: relative;
        text-align: center;

        &::after{
            position: absolute;
            content: "";
            width: 2rem;
            right: 0;
            bottom: 0;
            height: .3rem;
            border-radius: 5rem;
            background-color: $gold;
        }
    }

    &-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;

        .faq{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;
            background-color: #fff;
            box-shadow: 0 0 20px -2px rgb(0,0,0,.1);
            border-left: 2px solid $blue;

            &-question{
                font-weight: bold;
            }

            &-answer{
                color: #000c;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .faqs{
        width: 100%;
        padding: 0 1rem;

        &-content{
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .faqs{
        width: 90vw;
    }
}