@import "./index.scss";

.footer{
    width: 100%;
    padding: 4rem;
    background-color: $white;
    background-color: $black;
    display: flex;
    justify-content: space-between;

    &-left{
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo{
            display: flex;
    
            img{
                width: 6rem;
            }
        }

        .tagline{
            font-family: 'Edu SA Beginner', cursive;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    &-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        .footer-links{
            display: flex;
            gap: 1rem;
    
            .link{
                cursor: pointer;
                color: $white;
    
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .sosmed-links{
            display: flex;
            gap: 1rem;

            .link{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;
                border-radius: 50%;
                background-color: rgb(0, 91, 153,.1);
                background-color: rgb(255, 215, 0,.1);
                cursor: pointer;
            }
        }

        .copyright{
            color: $white;
        }
    }
}

@media screen and (max-width: 480px) {
    .footer{
        flex-direction: column;
        padding: 1rem;
        padding-bottom: 2rem;
        gap: 2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .footer{
        padding: 1.5rem;
    }
}