@import "./index.scss";

.galerry{
    width: 80vw;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 16rem;
    padding-bottom: 5rem;

    &-header{
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Edu SA Beginner', cursive;
        margin-bottom: 1rem;
        text-align: center;
    }

    &-top,&-bottom{
        display: flex;
        gap: 1rem;

        .img1,.img2,.img5,.img6{
            width: calc((40vw - 1.5rem)/2);
            height: calc((40vw - 1.5rem)/2);
            object-fit: cover;
            background-position: center;
            background-size: 100%;
            border-radius: .2rem;
            transition: all .2s;
            cursor: pointer;

            &:hover{
                background-size: 110%;
            }
        }
        
        .img3,.img4{
            width: calc(40vw - .5rem);
            height: calc((40vw - 1.5rem)/2);
            object-fit: cover;
            background-size: 100%;
            background-position-y: -2rem;
            background-position-x: 0;
            border-radius: .2rem;
            cursor: pointer;
        }
        
        .img1{
            background-image: url("../assets/galerry1.jpg");
        }
        
        .img2{
            background-image: url("../assets/galerry2.jpg");
        }
        
        .img3{
            background-image: url("../assets/galerry3.jpg");
        }
        
        .img4{
            background-image: url("../assets/galerry4.jpg");
        }
        
        .img5{
            background-image: url("../assets/galerry5.jpg");
        }

        .img6{
            background-image: url("../assets/galerry6.jpg");
        }
    }
}

@media screen and (max-width: 480px) {
    .galerry{
        width: 100%;
        padding: 56rem 1rem;
        padding-bottom: 0;

        &-top,&-bottom{
            flex-direction: column;
            width: 100%;

            .img1,.img2,.img5,.img6{
                width: calc(100vw - 2rem);
                height: calc(100vw - 2rem);
            }

            .img3,.img4{
                width: calc(100vw - 2rem);
                height: calc((100vw - 2rem)/2);
            }
        }

        &-bottom{
            flex-direction: column-reverse;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .galerry{
        width: 90vw;
        padding-top: 20rem;

        &-top,&-bottom{
            .img1,.img2,.img5,.img6{
                width: calc((45vw - 1.5rem)/2);
                height: calc((45vw - 1.5rem)/2);
            }

            .img3,.img4{
                width: calc(45vw - .5rem);
                height: calc((45vw - 1.5rem)/2);
            }
        }
    }
}