@import "./index.scss";

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
    &.about-page{
        background-image: url("../assets/about.jpg");
    }

    &.classes-page{
        background-image: url("../assets/classes.jpg");
    }

    &.blog-page{
        background-image: url("../assets/blog.jpg");
    }

    &.contact-page{
        background-image: url("../assets/contact.jpg");
    }

    .tagline{
        font-size: 2.5rem;
        font-weight: 700;
        z-index: 1;
        color: #eee;
        font-family: 'Noto Serif JP', serif;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .hero{
        .tagline{
            font-size: 1.8rem;
        }
    }
}