@import "./index.scss";

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .4rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255,255,255,.1);
    backdrop-filter: blur(10px);

    &-logo{
        display: flex;

        img{
            width: 4rem;
        }
    }

    &-links{
        display: flex;
        align-items: center;
        gap: 3rem;
        font-size: 1.1rem;

        a{
            display: flex;
            align-items: center;
            gap: 0.2rem;
            
            span{
                color: $white;
            }
        }
    }
}