@import "./index.scss";

.pricing{
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80vw;

    &-header{
        font-size: 2rem;
        font-weight: bold;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            width: 2rem;
            right: 0;
            bottom: 0;
            height: .3rem;
            border-radius: 5rem;
            background-color: $gold;
        }
    }

    &-content{
        display: flex;
        gap: 1.5rem;
        width: 100%;

        .price{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding-bottom: 1rem;
            font-size: 1.2rem;
            box-shadow: 7px 7px 30px rgb(0,0,0,.1);
            height: fit-content;

            &-top{
                position: relative;
                display: flex;

                .img{
                    display: flex;

                    img{
                        width: 100%;
                        height: fit-content;
                    }
                }

                .title{
                    background-color: $white;
                    min-width: 80%;
                    text-align: center;
                    padding: .5rem 0;
                    padding-bottom: 0;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

            &-price{
                font-size: 1.3rem;
                font-weight: 700;

                span{
                    font-size: 2.5rem;
                    color: $blue;
                }
            }

            &-benefits{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                color: rgb(0,0,0,.7);
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .pricing{
        width: 100%;
        padding: 0 1rem;

        &-content{
            flex-direction: column;
            gap: 1.5rem;

            .price{
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .pricing{
        &-content{
            width: 90vw;
            padding: 0;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .price{
                width: fit-content;
                padding: 3rem;
            }
        }
    }
}