@import "./index.scss";

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80vw;
    gap: 2rem;
    margin: 5rem auto;

    &-header{
        font-size: 2rem;
        font-weight: bold;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            width: 2rem;
            right: 0;
            bottom: 0;
            height: .3rem;
            border-radius: 5rem;
            background-color: $gold;
        }
    }

    &-container{
        width: 100%;
        display: flex;
        overflow-x: hidden;
            
        .testimonial-content{
            display: flex;
            gap: 2rem;
            padding-top: 5.5rem;
            transition: all .5s;

            &.test1{
                transform: translateX(calc(-80vw - 2rem));
            }
            
            &.test2{
                transform: translateX(calc(-160vw - 4rem));
            }

            .testimonial{
                display: flex;
                border: 1rem solid #ccc;
                padding: 2rem;
                width: 80vw;
                position: relative;
                
                &-info{
                    display: flex;
                    gap: 1rem;

                    .img{
                        display: flex;
                        position: absolute;
                        bottom: 2rem;

                        img{
                            width: 20vw;
                        }
                    }

                    .test-info{
                        display: flex;
                        flex-direction: column;
                        padding: 1rem 0;
                        padding-left: calc(20vw + 1rem);
                        padding-right: 1rem;
                        background-color: $blue;

                        img{
                            width: 3rem;
                        }

                        .text{
                            font-size: 1.5rem;
                        }

                        .name{
                            margin-top: 2rem;
                            font-size: 1.2rem;
                            font-weight: 700;
                            color: $white;
                        }

                        .job{
                            font-size: .8rem;
                            color: rgb(255,255,255,.7);
                        }
                    }
                }
            }
        }
    }

    .btns{
        display: flex;
        gap: 1rem;
        position: absolute;
        right: 2rem;
        bottom: 2rem;

        .left,.right{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(255,255,255,.3);
            backdrop-filter: blur(.2rem);
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            box-shadow: 0 0 20px -2px rgb(0,0,0,.3);
        }
    }
}

@media screen and (max-width: 480px) {
    .testimonials{
        width: 100%;
        padding: 0 1rem;
        gap: 1rem;

        &-container{
            overflow-x: auto;

            .testimonial-content{
                padding-top: 0;
                gap: 1rem;

                .testimonial{
                    width: calc(100vw - 2rem);
                    border: none;
                    padding: 0;

                    &-info{
                        flex-direction: column;

                        .img{
                            position: static;

                            img{
                                width: 100%;
                            }
                        }

                        .test-info{
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }

        .btns{
            display: none;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
    .testimonials{
        margin: 5rem auto;
        width: 90vw;

        &-container{
            .testimonial-content{
                padding-top: 1rem;

                &.test1{
                    transform: translateX(calc(-90vw - 2rem));
                }
                
                &.test2{
                    transform: translateX(calc(-180vw - 4rem));
                }

                .testimonial{
                    width: 90vw;
                    padding: 1rem;
                    border: .5rem solid #ccc;

                    &-info{

                        .test-info{
                            font-size: 1rem;

                            .text{
                                font-size: 1.3rem;
                            }

                            .name{
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}